*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: rgba(15, 15, 15, 0.893);
    --border-color: #333333;
    --font-color: #f0f0f0;
    --background-color: #121212;
    --accent-color: #32cd32;
    --food-color: rgb(209, 24, 24)
}
body,html{
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    height: 100%;
    width: 100%;
}
h1{
    text-align: center;
}
.game-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.game-infos{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.info{
    font-size: 1.3em;
    font-weight: bold;
    color: var(--accent-color);
    padding: 10px;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    margin-left: 1rem;
}
.game-board{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
    border: 4px solid var(--border-color);
    background-color: var(--primary-color);
    margin:10px 10px;
}
.block{
    width: 100%;
    height: 100%;
    /* border: 1px solid var(--border-color); */
    text-align: center;
    border-radius: 50%;
    font-size: 0.65rem;
}
.fill{
    background-color: var(--accent-color);
}
.food{
    background-color: var(--food-color);
}
.congo-massage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: var(--accent-color);
    display: none;
    z-index: 10;
}
.modals{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.402);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}
.modal{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal button{
    margin-top: 20px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--font-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
}
.restart-game{
    display: none;
}